/* src/App.css */

.header{
  display: flex;
  padding: 20px;
background-color: #373877;
  /* justify-content: space-around; */

}

.title{
  color: white;
  font-weight: bold;
  font-size: large;
}

.task-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;
  
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

/* App.css */
   .todo-stats {
  display: flex;
  /* justify-content: flex-end; */

  position: relative;
  top: 40px;
  left: 50px;
  gap: 20px;
  font-weight: bold;
  /* margin-bottom: 40px; */
  /* padding-right: 15px; */
}

.todo-stats span {
  color: #333;
}

.todo-stats span:nth-child(1) {
  color: green;
}

.todo-stats span:nth-child(2) {
  color: red;
}
